<div class="login-container">
    <div class="login-card">
        <div class="header-section">
      <div class="logo-badge">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
          <circle cx="9" cy="7" r="4"></circle>
          <line x1="19" y1="8" x2="19" y2="14"></line>
          <line x1="22" y1="11" x2="16" y2="11"></line>
        </svg>
      </div>
      <h2>Login Your Account</h2>
      <p class="subtitle">To get something from here!!</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="form-group">
                <!-- <small class="errMessage">*</small> -->
                <label for="email" class="form-label">Email</label>
                <div class="input-wrapper">
                     <input type="text" 
                     class="form-control" 
                     formControlName="email"
                      [class.is-invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                    placeholder="Enter your email">
                @if(this.loginForm.get('email')?.touched && this.loginForm.get('email')?.invalid){
                    <small class="errMessage">Email Id is Required</small>
                }
                </div>
               

            </div>
            <div class="form-group">
                 <!-- <small class="errMessage">*</small> -->
                <label for="email" class="form-label">Password</label>
                <div class="input-wrapper">
                     <input type="password" 
                     class="form-control" 
                      [class.is-invalid]="loginForm.get('password')?.touched && loginForm.get('pasword')?.invalid"
                     formControlName="password" placeholder="Enter your Password">
                @if(this.loginForm.get('password')?.touched && this.loginForm.get('password')?.invalid){
                    <small class="errMessage">Password is Required</small>
                }
                </div>
               

            </div>
            <div class="btn-group mt-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
      </form>

       <div class="footer-section">
      <p>You are new here? <a routerLink="/register" class="login-link">Register</a></p>
    </div>
    </div>
    </div>
</div>
